block variables
  //- Meta Tags HTML
  - let siteName = 'Hubb', pageTitle;

  //- Meta Tags SEO
  - let metaDescription;

  //- OpenGraph Protocol
  - let ogUrl, ogImage;

doctype html
html(lang="en")
  head
    //- Meta Tags
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    if pageTitle === 'Home'
      title= `${siteName} | Live College to The Fullest`
    else
      title= `${pageTitle} | ${siteName}`
    meta(name="description" content=metaDescription)
    meta(name="author" content="ErwCode Technologies")
    meta(name="robots" content="index, follow")
    meta(name="theme-color" content="#0A090D")
    //- Open Graph Protocol
    meta(property="og:locate" content="en")
    meta(property="og:type" content="website")
    if pageTitle === 'Home'
      meta(property="og:title" content = `${siteName} | Live College to The Fullest`)
    else
      meta(property="og:title" content = `${pageTitle} | ${siteName}`)
    meta(property="og:description" content=metaDescription)
    meta(property="og:url" content=ogUrl)
    meta(property="og:site_name" content="Hubb")
    meta(property="og:image" content=ogImage)
    meta(property="og:image:alt" content=`Search less, Hang out more! with ${siteName}`)
    //- Google Tag Manager
    script.
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-KF3CZXH');
    //- Links
    link(rel="shortcut icon" href="./assets/images/favicon.png")
  body
    //- Google Tag Manager (noscript)
    noscript: iframe(title='Google Tag Manager', src='https://www.googletagmanager.com/ns.html?id=GTM-KF3CZXH', height='0', width='0', style='display:none;visibility:hidden')

    //- Menu Section
    include includes/menu.pug

    //- Body Section
    block body

    //- Footer Section
    if pageTitle !== 'About Us' && pageTitle !== 'Contact'
      include includes/footer.pug
